<div id="<%= dom_id challenge_answer %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= challenge_answer.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Challenge:</strong>
    <%= challenge_answer.challenge_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Submitted code:</strong>
    <%= challenge_answer.submitted_code %>
  </p>

</div>
