<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Challenge answers" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Challenge answers</h1>
    <%= link_to "New challenge answer", new_challenge_answer_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="challenge_answers" class="min-w-full">
    <% @challenge_answers.each do |challenge_answer| %>
      <%= render challenge_answer %>
      <p>
        <%= link_to "Show this challenge answer", challenge_answer, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
