<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing minitest test method</h1>

  <%= render "form", minitest_test_method: @minitest_test_method %>

  <%= link_to "Show this minitest test method", @minitest_test_method, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to minitest test methods", minitest_test_methods_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
