<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Minitest test methods" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Minitest test methods</h1>
    <%= link_to "New minitest test method", new_minitest_test_class_minitest_test_method_path(@minitest_test_class), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="minitest_test_methods" class="min-w-full">
    <% @minitest_test_methods.each do |minitest_test_method| %>
      <%= render minitest_test_method %>
      <p>
        <%= link_to "Show this minitest test method", minitest_test_method, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
