<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New minitest test method</h1>

  <%= turbo_frame_tag dom_id(@minitest_test_method) do %>
    <%= render "form", minitest_test_class: @minitest_test_class, minitest_test_method: @minitest_test_method %>
  <% end %>

  <%= link_to "Back", minitest_test_class_path(@minitest_test_class), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
