<div id="<%= dom_id journey %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= journey.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= journey.description %>
  </p>

</div>
