<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing minitest test class</h1>

  <%= render "form", minitest_test_class: @minitest_test_class %>

  <%= link_to "Show this minitest test class", @minitest_test_class, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to minitest test classes", minitest_test_classes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
